<ion-header-bar align-title="left" class="bar-positive">

  <h1 class="title">Scan Qr Code</h1>

</ion-header-bar>


  <ion-content padding="true" class="has-header">



    <div class="card">
    		<div class="card_image">
    			<img src="img/qr-code.jpg" alt="" class="image">
    			<i class="material-icons" onClick="favorite(this);">
    			QrCode</i>
    		</div><div class="cardContent">
    			<button class="cardContentButton button-positive" ng-click="scanBarcode()">Scan</button>
    			<p class="cardContentName">Scanner un QrCode</p>
    			<p class="cardContentJob">Scannez les QRcode des fournisseurs que vous allez visiter pour enregistrer votre visite et obtenir des informations complémentaires.<br/>
            <button id="scanQRCode-button4" ng-click="scanBarcode()" class="button button-positive button-block">Scanner</button>

</p>
    			<div class="titleSocial"></div>

    		</div>
    	</div>





    <div class='alert alert-info'>
    </div>











  </ion-content>
