/* Empty. Add your own CSS if you like */


.full
{

  background-color:#559EF2;
   background:#9CCEF3 no-repeat center center fixed;
  background-size: cover; ;
  padding-top:5vh;
color:white;
text-align:center;
z-index: 100 !important;
}
.full h1
{
color:#124193;
text-align: center;;

}
.full .logo
{
  height:25vw;
  border-radius:50%;
  margin:0 auto;
display:block;
margin-bottom:20px;
}


h1 {font-size:23px;}
.bar.bar-stable
{
}
.bar-stable .title {
	color:white;
}
.tabsSelect-content
{
	display: none;
}
.tabsSelect-content.active
{
	display: block;
}
.avatar-img
{
    width: auto;
    height: 80px;
}
body
{

}
.item-md-label input, select.salon
{
  background-color:#124193 !important;
  color:white;
  width:100%;
  max-width: 100% !important;
  color:white;
}
select.salon { color:white !important; min-height: 30px; 
    padding-left: 0;
    padding-right: 0;
    width: initial; }
.list-dropdown
{
  margin: 0 12px;
}

.item-md-label input:focus ~ .input-label, .item-md-label input.used ~ .input-label
{

color:#124193 !important;

}
.hero.no-header
{
  height:180px !important;
}

.card {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5em;
  margin-bottom: 3em;
}
.card .cardContent {
  position: relative;
  padding: 5%;

  padding-bottom: 8%;
  overflow: hidden;
      margin-top: 5%;
}
.card .cardContent .titleSocial {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 30%;
  color: white;
  width: 70%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5em;
  -webkit-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -moz-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -ms-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -o-transition: z-index 0s 0.3s, opacity 0 0.3s;
  transition: z-index 0s 0.3s, opacity 0 0.3s;
}
.card .cardContent .titleSocial.is-active {
  opacity: 1;
  z-index: 4;
}
.card .cardContent .menuSocial {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 75%;
  left: 0%;
  top: 60%;
  z-index: 1;
  right: 0;
  margin: 0 auto;
  -webkit-transition: z-index 0s 0.3s;
  -moz-transition: z-index 0s 0.3s;
  -ms-transition: z-index 0s 0.3s;
  -o-transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}
.card .cardContent .menuSocial .menuSocialItem {
  display: inline-block;
  font-size: 30px;
  width: 25%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  color: white;
  -webkit-transition: opacity 0.25s 0.3s;
  -moz-transition: opacity 0.25s 0.3s;
  -ms-transition: opacity 0.25s 0.3s;
  -o-transition: opacity 0.25s 0.3s;
  transition: opacity 0.25s 0.3s;
}
.card .cardContent .menuSocial .menuSocialItem .menuSocialItemLink {
  color: white;
  text-decoration: none;
  text-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card .cardContent .menuSocial .menuSocialItem.is-active {
  opacity: 1;
}
.card .cardContent .menuSocial.is-active {
  z-index: 4;
}
.card .cardContent .cardContentButton {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background-color: #387ef5;
  position: absolute;
  right: 4%;
  top: 5px;
  z-index: 3;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.card .cardContent .cardContentButton i {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.card .cardContent .cardContentButton i.is-active {
  display: none;
}
.card .cardContent .cardContentButton.is-active {
  right: 15%;
  top: 40px;
  -webkit-animation: ejemplo 0.5s 0.2s forwards;
  -moz-animation: ejemplo 0.5s 0.2s forwards;
  -o-animation: ejemplo 0.5s 0.2s forwards;
  -ms-animation: ejemplo 0.5s 0.2s forwards;
  animation: ejemplo 0.5s 0.2s forwards;
}
.card .cardContent .cardContentName {

  font-size: 25px;
}
.card .cardContent .cardContentJob {

  font-size: 15px;
}
.card .cardContent p {
  margin: 0;
  z-index: 2;
}
.card .cardContent .cardContentButton:focus {
  outline: none;
}
.card .card_image {
  width: 100%;
  margin:0 auto;
  position: relative;
  margin-bottom: -1%;
  z-index: 2;
  -webkit-transition: z-index 0s 0.2s;
  -moz-transition: z-index 0s 0.2s;
  -ms-transition: z-index 0s 0.2s;
  -o-transition: z-index 0s 0.2s;
  transition: z-index 0s 0.2s;
}
.card .card_image i {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.card .card_image img {
  width: 100%;
}
.card .card_image.is-active {
  z-index: 4;
}
body .card .image
{
  margin-top: 0 !important;
}
.card_image {
    max-height: 60vw;
    overflow: hidden;
}
@-webkit-keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}
@keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}
.flag { height:20Px; }
